.root {
    -fx-background-color: #FFFFFF;
}

#WrongField{
    -fx-background-color: #AB4642;
}

#CorrectField.text-field{
    -fx-background-color: #FFFFFF;
}

.button{
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}